<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ba293">  <td>21/01/19 01:39:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Base.initializedriver()[pri:0, instance:assignment.Taskone@1176dcec]">&gt;&gt;initializedriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@500772834</td>   <td></td> </tr>
<tr bgcolor="8ad79b">  <td>21/01/19 01:39:53</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Taskone.main()[pri:0, instance:assignment.Taskone@1176dcec]">main</td> 
  <td>main@500772834</td>   <td></td> </tr>
<tr bgcolor="6ba293">  <td>21/01/19 01:39:53</td>   <td>157</td> <td>&nbsp;</td><td title="&lt;&lt;Base.tearndown()[pri:0, instance:assignment.Taskone@1176dcec]">&lt;&lt;tearndown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
